
@{
    ViewBag.Title = "Chat En Espera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html class="aui">
<head>
       
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrapv2.min.css" rel="stylesheet" />

    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    <header class="header-main">
        <div class="content-wrapper">
            <h2 class="headline-main">Chat de asistencia Roaming</h2>
        </div>
    </header>

    <div class="content-main">
        <div class="content-wrapper">
            <div class="row-fluid">
                <div class="span8 xs-span-12">
                    <section class="chat-roaming form">
                        <header class="chat-roaming-header  header-center">
                            <h3 class="headline ico-chat">Chatea con un ejecutivo y resuelve tus dudas</h3>
                            <p class="info ico-clock"> Horario de atención: 9:00 a 23:00 hrs. de Chile</p>
                        </header>
                        <div class="chat-roaming-alert">
                            <div class="chat-roaming-center">
                                <p class="chat-text-bold">Buscando un ejecutivo disponible ...</p>
                                <div class="banner-content-loader">
                                    <div class="loader">
                                        <img src="~/images/ico_loading_green.png" alt="Buscando un ejecutivo disponible ...">

                                    </div>
                                </div>
                                <p class="chat-text-bold">Actualmente estas en el puesto 1 de la cola.</p>
                            </div>
                        </div>
                    </section>

                </div>
                <section class="span4 xs-span-12">

                    <article class="box-faq">
                        <div class="box-faq-wrap">
                            <!-- //<a href="" class="btn-drop-down only-mobile"><span>Cerrar</span></a> -->
                            <header class="box-faq-header">
                                <h4 class="tile-blue ico-tip">
                                    ¿Qué debes saber antes de salir de Chile?
                                </h4>
                            </header>
                            <div class="box-faq-body">
                                <p>Consulta la cobertura de Roaming Movistar y confirma si tu equipo es  compatible con la red del país que visites.</p>
                                <a href="#" class="link-blue  ico-after-arrow_right">Revisar coberturas</a>
                            </div>
                        </div>


                    </article>

                    <article class="box-faq">
                        <div class="box-faq-wrap">
                            <!-- //<a href="" class="btn-drop-down only-mobile"><span>Cerrar</span></a> -->
                            <header class="box-faq-header">
                                <h4 class="tile-blue ico-tip">¿Y si tuvieras dudas durante el viaje?</h4>
                            </header>
                            <div class="box-faq-body">
                                <p>Guarda este número +56 9 XXXXXXXX en tu agenda y llámanos cuando necesites ayuda (recuerda que esta llamada tiene valor de servicio Roaming Movistar) o comunícate a través del Chat de Roaming. </p>
                                <h5 class="subtitle">¿Qué es lo que necesitas saber si viajas fuera de Chile?</h5>
                                <ul class="list-generic">
                                    <li>Cobertura en el país que piensas visitar.</li>
                                    <li>Compatibilidad de tu equipo.</li>
                                    <li>Tarifas.</li>
                                    <li>Planes de datos y promociones vigentes.</li>
                                    <li>Disponibilidad de servicio en el extranjero.</li>
                                </ul>
                            </div>
                        </div>


                    </article>
                </section>
            </div>

            <div class="row-fluid  footer-child">
                <div class="span4 xs-span-12">

                    <article class="box-destacado">
                        <header class="box-destacado-header">
                            <h4 class="tile-white">
                                ¿Primer viaje con roaming?
                            </h4>
                        </header>
                        <div class="box-footer-body">
                            <p>Antes de viajar, conoce todo lo que debes saber para aprovechar al máximo tu roaming</p>
                            <a href="#" class="btn-blend-uncolor ico-after-arrow_right">Revisar tips para el viaje</a>
                        </div>
                    </article>

                </div>
                <div class="span8 xs-span-12">
                    <article class="box-tarifas">

                        <header class="box-destacado-header">
                            <h4 class="tile-blue  ico-world-wired">
                                Cobertura y tarifas
                            </h4>
                        </header>
                        <div class="box-footer-body">
                            <p>Mantente comunicado en más de 189 países,con 606 operadoras de todo el mundo, incluyendo cobertura aérea y marítima</p>
                            <form action="" class="form-inline  form-tarifas">
                                <label class="title-label" for="destino">¿Cuál es tu destino?</label>
                                <select class="form-control select-tarifas" name="destino">
                                    <option>Selecciona un país</option>
                                    <option>Colombia</option>
                                    <option>España</option>
                                    <option>Francia</option>
                                    <option>Perú</option>
                                </select>
                            </form>
                        </div>

                    </article>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/main.js"></script>
</body>
</html>